<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seth Mueller's blog</title>
    <link rel="stylesheet" href="/static/main.css">
    <style>{{ css }}</style>
</head>
<body>
    <table id="body" border="solid">
        <tbody><tr id="top">
            <th id="logo" colspan="2">Seth Mueller's blog</th>
        </tr>
        <tr>
            <td id="page-list">
                <a href="/">Home</a><br>
                <a href="/projects">Projects</a><br>
                <a href="/findme">Find Me</a><br>


                <br>
                All Posts:
                <ul>
                    
                        <li><a href="/post/40">Jinja is Awesome
</a></li>
                    
                        <li><a href="/post/39">A Blog Post About This Blog
</a></li>
                    
                </ul>

                <footer>Found a problem or just want to give feedback? Email me at <a href="mailto: sustachio@gmail.com?subject=Blog Feedback">sustachio@gmail.com</a></footer>
                <footer>You can find the code for this site on                 <a href="https://github.com/sustachio/blog" ,="" target="_blank">Github</a></footer>
            </td>
            <td>
                

<h1>Welcome to my blog!</h1>
<p>Here you can find some of my projects, and other things that I wanted to write about. Enjoy!</p>


    <table class="post-card">
        <tbody><tr>
            <th>
            <a href="/post/40">
                
                Jinja is Awesome

            </a>
            </th>
        </tr>
        <tr>
            <td>
                
                <p>While making the server for this blog using Flask (a python library for web servers), I discovered the wonders of the Jinja templating engine.</p>
<h2>What it is</h2>
<p>In an HTML file (or any other type of file) you can type Jinja code, which will be converted or rendered back into normal HTML through a python script. The code has many features like loops, variables, if statements, and filters (which are very similar to functions).</p>
<p>You can find Jinja's documentati<a href="/post/40">... read more</a>
            </p></td>
        </tr>
    </tbody></table>

    <table class="post-card">
        <tbody><tr>
            <th>
            <a href="/post/39">
                
                    Project: 
                
                A Blog Post About This Blog

            </a>
            </th>
        </tr>
        <tr>
            <td>
                
                <p>Welcome to my blog! </p>
<p>Here I will (try to) make posts often about some projects that I am working on or just post anything else that I wanted to write about. I will try and post often enough and, later, I may even change up the site a bit.</p>
<p>I've always wanted to make a blog but never got to it as it seemed like too big of a task. This is one of the reasons I decided to stick to this simple layout. The idea of a blog was partially inspired by one of my friend's <a href="/post/39">... read more</a>
            </p></td>
        </tr>
    </tbody></table>



            </td>
        </tr>
    </tbody></table>

</body></html>